@import "tailwindcss";

* {
  box-sizing: border-box;
}

.input-style {
  @apply border border-gray-300 rounded-xl px-4 py-3 bg-gray-50 focus:bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition;
}
